* {
  margin: 0;
  padding: 0;
}
button {
  background: none;
  border: none;
}

.header {
  padding: 32px;
  display: flex;
  justify-content: space-between;

  .mobile-nav {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 34px;
    margin: auto 0;

    div {
      height: 3px;
      background-color: black;
    }
  }
  .tablet-nav {
    display: none;
  }
}
.project {
  position: relative;
  .tablet,
  .desktop {
    display: none;
    width: 100%;
  }
  .mobile {
    width: 100%;
  }
  .text-div {
    position: absolute;
    top: 20%;
    padding: 0px 10%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    h1,
    p {
      color: #ffffff;
    }
    h1 {
      font-weight: 700;
      font-size: 48px;
      line-height: 48px;
      letter-spacing: -1.2px;
    }
    p {
      font-weight: 500;
      font-size: 18px;
      line-height: 24px;
    }
    .button-div {
      background-color: #1b1d23;
      padding: 5% 10%;
      width: 60%;
      display: flex;
      gap: 10px;
      button {
        color: white;
      }
      img {
        width: 10%;
        filter: brightness(0) invert(1);
      }
    }
  }
}
.nav {
  background-color: #eeeff4;
  padding: 5% 0 5% 10%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  width: 75%;
  right: 0;
}
.welcome {
  padding: 32px;
  div {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  h3 {
    font-weight: 700;
    font-size: 48px;
    line-height: 52px;
    letter-spacing: -1.71429px;
    color: #1b1d23;
  }
  p {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #60636d;
  }
  img {
    display: none;
  }
}
.featured {
  padding: 32px;
  .featured-text-div {
    display: flex;
    justify-content: space-between;

    .button-div {
      display: flex;
      gap: 10px;
      background-color: #1b1d23;
      padding: 3% 5%;
      margin-bottom: 5%;
      p {
        width: 100%;
        color: white;
      }
      img {
        filter: brightness(0) invert(1);
      }
    }
  }

  .images-div {
    display: flex;
    flex-direction: column;
    gap: 40px;
    .one-text-image {
      position: relative;
      div {
        position: absolute;
        left: 10%;
        top: 80%;
        h3 {
          font-weight: 700;
          font-size: 32px;
          line-height: 40px;
          color: #ffffff;
        }
        button {
          font-weight: 500;
          font-size: 18px;
          line-height: 24px;
          color: #ffffff;
          mix-blend-mode: normal;
          opacity: 0.75;
        }
      }
      .one-tablet,
      .one-desktop,
      .two-tablet,
      .two-desktop,
      .three-tablet,
      .three-desktop {
        display: none;
        width: 100%;
      }
      .one-mobile,
      .two-mobile,
      .three-mobile {
        width: 100%;
      }
    }
  }
}
@media (min-width: 768px) {
  .header {
    padding: 56px;
    .mobile-nav {
      display: none;
    }
    .tablet-nav {
      display: flex;
      gap: 20px;
      margin: auto 0;
    }
  }
  .project {
    padding: 0 56px;
    .tablet {
      display: block;
    }
    .mobile {
      display: none;
    }
    .text-div {
      top: 50%;
      h1 {
        font-size: 96px;
        line-height: 80px;
        letter-spacing: -2px;
      }
    }
  }
  .welcome {
    padding: 56px;
    h3 {
      font-size: 72px;
      line-height: 64px;
      letter-spacing: -2px;
    }
  }
  .featured {
    padding: 56px;

    .images-div {
      .one-text-image {
        .one-mobile,
        .two-mobile,
        .three-mobile {
          display: none;
        }
        .one-tablet,
        .two-tablet,
        .three-tablet {
          display: block;
        }
      }
    }
  }
}

@media (min-width: 1440px) {
  .header {
    padding: 5% 10%;
    justify-content: left;
    gap: 5%;
    .tablet-nav {
      display: flex;
      gap: 20px;
    }
  }
  .project {
    padding: 3% 10%;
    .desktop {
      display: block;
    }
    .tablet {
      display: none;
    }
  }
  .welcome {
    display: flex;
    gap: 10%;
    padding: 5% 10% 3% 20%;
    img {
      display: block;
    }
    div {
      gap: 50px;
    }
  }
  .featured {
    padding: 3% 10%;

    .images-div {
      flex-direction: row;
      .one-text-image {
        .one-desktop,
        .two-desktop,
        .three-desktop {
          display: block;
        }
        .one-tablet,
        .two-tablet,
        .three-tablet {
          display: none;
        }
      }
    }
  }
}
